# Ignore test logs and caches
*.log
__pycache__/
jupyter/

# Ignore editor config
.vscode/
*.code-workspace

# Ignore venv files
env/

# Ignore sensitive objects
data/client_secret.json
data/token.json